.container {
  display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: ;
justify-content:;
align-content: ;
}

header{
grid-column: 1/-1;
grid-row: 1/2;
}

nav{
  grid-column: 1/-1;
  grid-row: 2/3 ;

}

article{
  grid-column: 1/-1;
  grid-row: 3/4;

}


.slideshow-container{
  grid-column:3/5;
  grid-row: 3/7 ;

}

.bildtext {
  grid-column:3/5;
grid-row: 6/9 ;

}

footer{
  grid-column:1/-1 ;
  grid-row:9/10 ;

}

.deckare {
  grid-column: 1/4;
grid-row: 3/5;

}

.imghoger{grid-column: 1/4;
grid-row: 3/4;


}

.lovenovel {
  grid-column:4/7;
  grid-row: 3/5;

}

.imgvanster{
  grid-column:4/7;
  grid-row: 3/5;
}

.fantasy {
  grid-column:4/7;
  grid-row: 6/8;
}

.imgvanster2{
  grid-column:4/7;
  grid-row: 6/8;
}


.thriller {
  grid-column:1/4;
  grid-row:6/8 ;
}

.imghoger2 {
  grid-column:1/4;
  grid-row:6/8 ;
}

.link {
  grid-column:3/5;
  grid-row:9/10 ;
  justify-self: center;
}

.h{grid-column: 1/-1;
grid-row: 3/3 ;


}
