.container {
  display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-rows: minmax(10px, auto);

}

header{
grid-column: 1/-1;
grid-row: 1/2;
}

nav{
  grid-column: 1/-1;
  grid-row: 2/3 ;

}

article{
  grid-column: 1/-1;
  grid-row: 3/4;

}


.slideshow-container{
  grid-column:2/6;
  grid-row: 5/7 ;

}

.bildtext {
  grid-column:3/5;
grid-row: 7/9 ;

}


.deckare {
  grid-column: 2/3;
grid-row: 4/6;
justify-self: center;

}

.imghoger{grid-column: 1/1;
grid-row: 4/6;


}

.lovenovel {
  grid-column:5/6;
  grid-row: 4/6;
  justify-self: center;

}

.imgvanster{
  grid-column:4/4;
  grid-row: 4/6;
}

.fantasy {
  grid-column:5/6;
  grid-row: 20/30;
  justify-self: center;
}

.imgvanster2{
  grid-column:4/4;
  grid-row: 20/30;
}


.thriller {
  grid-column:2/3;
  grid-row:20/30 ;
  justify-self: center;
}

.imghoger2 {
  grid-column:1/1;
  grid-row:20/30 ;
}

.link {
  grid-column:1/-1 ;
  grid-row:50/60 ;
  justify-self: center;
}



.h{grid-column:1/-1 ;
justify-self: center;
grid-row: 3/3 ;


}

.adress {
  grid-column:1/-1 ;
grid-row:50/60 ;
justify-self: center;
}

.link1 {
  grid-column:1/-1 ;
grid-row:35/45 ;
justify-self: center;
}

.adress1 {
  grid-column:1/-1 ;
grid-row:35/45 ;
justify-self: center;
}

.footer {
  grid-column:1/-1 ;
  grid-row:50/60 ;

}

.footer1 {
  grid-column:1/-1 ;
grid-row:35/45 ;

}

@media only screen and (max-width: 450px){
  .container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);


  }

  header{
  grid-column: 1/-1;
  grid-row: 1/2;
  }

  nav{
    grid-column: 1/-1;
    grid-row: 2/3 ;

  }

  article{
    grid-column: 1/-1;
    grid-row: 3/4;

  }


  .slideshow-container{
    grid-column:1/-1;
    grid-row: 5/7 ;

  }

  .bildtext {
    grid-column:1/-1;
    grid-row: 7/9

  }

  .footer{
    grid-column:1/-1 ;
    grid-row:80/90;

  }

  .deckare {
    grid-column:1/-1;
    grid-row:4/4;

  }

  .imghoger{
    grid-column:1/-1;
    grid-row:5/10;

  }

  .lovenovel {
    grid-column:1/-1;
    grid-row:16/16;

  }

  .imgvanster{
    grid-column:1/-1;
    grid-row:17/27;

  }

  .fantasy {
    grid-column:1/-1;
    grid-row:33/33;

  }

  .imgvanster2{
    grid-column:1/-1;
    grid-row: 34/44;

  }


  .thriller {
    grid-column:1/-1 ;
    grid-row: 50/50;

  }

  .imghoger2 {
    grid-column:1/-1 ;
    grid-row:51/61;

  }

  .link {
    grid-column:1/-1 ;
    grid-row:80/90;
    justify-self: center;
  }


  .h{
    grid-column:1/-1 ;
    justify-self: center;
    grid-row: 3/3 ;
   }

   .adress {
     grid-column:1/-1 ;
     grid-row:80/90;
   justify-self: center;
   }

   .link1 {
     grid-column:1/-1 ;
   grid-row:14/24 ;
   justify-self: center;
   }

   .adress1 {
     grid-column:1/-1 ;
   grid-row:14/24;
   justify-self: center;
   }

   .footer1 {
     grid-column:1/-1 ;
   grid-row:14/24;
   }

}
