.container {
  display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-rows: minmax(10px, auto);
grid-gap: ;
justify-content:;
align-content: ;


}

header{
grid-column: 1/-1;
grid-row: 1/2;
}

nav{
  grid-column: 1/-1;
  grid-row: 2/3 ;

}

article{
  grid-column: 1/-1;
  grid-row: 3/4;

}


.slideshow-container{
  grid-column:2/6;
  grid-row: 3/7 ;

}

.bildtext {
  grid-column:3/5;
grid-row: 6/9 ;

}

footer{
  grid-column:1/-1 ;
  grid-row:10/11 ;

}

.deckare {
  grid-column: 2/3;
grid-row: 4/6;
justify-self: center;

}

.imghoger{grid-column: 1/1;
grid-row: 4/6;


}

.lovenovel {
  grid-column:5/6;
  grid-row: 4/6;
  justify-self: center;

}

.imgvanster{
  grid-column:4/4;
  grid-row: 4/6;
}

.fantasy {
  grid-column:5/6;
  grid-row: 7/9;
  justify-self: center;
}

.imgvanster2{
  grid-column:4/4;
  grid-row: 7/9;
}


.thriller {
  grid-column:2/3;
  grid-row:7/9 ;
  justify-self: center;
}

.imghoger2 {
  grid-column:1/1;
  grid-row:7/9 ;
}

.link {
  grid-column:1/-1 ;
  grid-row:10/10 ;
  justify-self: center;
}



.h{grid-column:1/-1 ;
justify-self: center;
grid-row: 3/3 ;


}

.adress {
  grid-column:1/-1 ;
grid-row:10/11 ;
justify-self: center;
}


@media only screen and (max-width: 450px){
  .container {
    display:grid;
  grid-gap: ;
  justify-content:;
  align-content: ;
  grid-template-columns: ;
  grid-template-rows: ;


  }

  header{
    grid-column:;
    grid-row:;

  }

  nav{
    grid-column:;
    grid-row:;

  }

  article{
    grid-column:;
    grid-row:;


  }


  .slideshow-container{
    grid-column:;
    grid-row:;

  }

  .bildtext {
    grid-column:;
    grid-row:;

  }

  footer{
    grid-column: ;
    grid-row:;

  }

  .deckare {
    grid-column:;
    grid-row:;

  }

  .imghoger{
    grid-column:;
    grid-row:;

  }

  .lovenovel {
    grid-column:;
    grid-row:;

  }

  .imgvanster{
    grid-column:;
    grid-row:;

  }

  .fantasy {
    grid-column:;
    grid-row:;

  }

  .imgvanster2{
    grid-column:;
    grid-row: ;

  }


  .thriller {
    grid-column: ;
    grid-row: ;

  }

  .imghoger2 {
    grid-column: ;
    grid-row:;

  }

  .link {
    grid-column:;
    grid-row:;

    justify-self: center;
  }


  .h{
    grid-column:;
    grid-row:;

  justify-self: center;



  }
}
